#menu {
    background-color:rgba(130, 186, 130, 0.90);
   
}

/*=====================================
  HEADERS STYLES 
    ===================================*/


.header-sec .overlay{
    background:rgba(85, 155, 107, 0.90);
}

  /*=====================================
  TESTIMONIALS STYLES 
    ===================================*/

.contact{
    background-color: #999999;
}

/*=====================================
  FOOTER STYLES 
    ===================================*/

 .myfooter {
    background-color:#4bb777;
}