
/*=====================================
  NAVBAR STYLES
    ===================================*/


#menu {
    background-color:rgba(78, 119, 124, 0.90);

}

/*=====================================
  HEADERS STYLES
    ===================================*/


.header-sec .overlay{
    background:rgb(112, 185, 176);
}

/*=====================================
TESTIMONIALS STYLES
  ===================================*/

.contact{
    background-color: rgb(246, 246, 246);
}

