
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    color: #333333;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.5;
    margin: 30px 0; }
p a {
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-weight: 800;*/
    font-family: Roboto, Helvetica, Arial, sans-serif; }

h2.showQuestion{
    margin-bottom:0px;
    margin-top:10px;
}

section hr {
    margin-top:0px;
}

a {
    color: #333333;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
a:focus, a:hover {
    color: #777777; }

a img:focus, a img:hover {
    cursor: zoom-in; }

blockquote {
    font-style: italic;
    color: #777777; }

.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px; }

.caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }

::-moz-selection {
    color: white;
    background: #777777;
    text-shadow: none; }

::selection {
    color: white;
    background: #777777;
    text-shadow: none; }

img::selection {
    color: white;
    background: transparent; }

img::-moz-selection {
    color: white;
    background: transparent; }

body {
    -webkit-tap-highlight-color: #777777; }

ul.ui-autocomplete {
    list-style: none;
    color: #5e5e5e;
    font-size: 20px;
    max-height: 200px;
    width: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 2px;
    border: 1px  white;
    background:white;
}


/*=====================================
  NAVBAR STYLES 
   ===================================*/
.logo-custom {
    max-height:40px;
    padding-bottom: 5px;

}

.logo-asknow {
    width: 60%;
    margin-right: 30px;
    margin-bottom: 10px;
	cursor: pointer !important;
}
.logo-asknow-small {
	width:130px;
	cursor: pointer !important;
}
@font-face {
   font-family: "FGH";
   src: url(../fonts/Frutiger LT Std 55 Roman Regular.otf);
}

#menu {
    padding:10px;
    color:#fff;
    font-size:12px;
    font-weight:400;
    letter-spacing:0.9px;
    min-height: 50px;
    font-family: "FGH","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
    box-shadow: 1px 2px 5px #ddd;
}

.copyright{
    font-size:12px;
    font-weight:normal;
    padding-left:5px;
    text-align: center;
    margin: 11px 0px;
}
/*=====================================
  HEADERS STYLES 
    ===================================*/

.header-sec {
    padding-top: 60px;
    padding-bottom: 60px;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
	min-height: calc(100vh - 75px)
}

.header-sec .overlay{
    /*background:rgba(8, 134, 74, 0.90);*/
    background-color: #FFF;
    /*min-height: 580px;*/
}

.header-sec h1 {
    color:#fff;
    padding-top:150px;
}

 
@-moz-document url-prefix(){
    
	#search {
		border: 1px solid #009474;
		background: url(../img/search.png) no-repeat 14px 14px #fcfcfc;
		background-size: 20px;
		overflow: auto;
	}
	#search input[type="text"] {
		background: transparent;
		background-size: 22px 22px;
		border: 0;
		font: 17px Roboto, Helvetica, Arial, sans-serif;
		color: #777777;
		padding: 6px 25px 6px 50px;
		-webkit-transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-o-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;
		width: 77%;
		height: 50px;
		outline: none;
		float: left;
	}

	#search input[type="submit"], #search button.loading{
		background: #009474;
		color: #fff;
		border: 1px solid #009474;
		border-right: 1px solid #006b54;
		text-shadow: none;
		font: 17px Roboto, Helvetica, Arial, sans-serif;
		width: auto;
		height: 51px;
		float: right;
		padding: 0px 20px;
	}

     #search button .loader{
        background: url(../img/ajax-loader.gif) no-repeat;
        background-size: 50px 50px;
        height: 44px;
        width: 54px;
        display: inline-block;
        background-position: 50% 15%;
    }

	#search input[type="submit"]:hover {
		background: #006b54;
		border: 1px solid #006b54;
	}
    .start{
		background: url(../img/microphone.png) no-repeat 5px #009474;
		background-size: 22px 22px;
		border: 1px solid #009474;
		width: 35px;
		height: 51px;
		padding-bottom: 18px;
		float: right;
    }
    .start:hover  /* use Dot here */
    {   
		background-color: #006b54;
		border: 1px solid #006b54;
    }
    
    
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	#search {
		border: 1px solid #009474;
		background: url(../img/search.png) no-repeat 14px 14px #fcfcfc;
		background-size: 20px;
		overflow: auto;
	}
	#search:focus {
		border: 1px solid #006b54;
	}
	#search input[type="text"] {
		background: transparent;
		background-size: 22px 22px;
		border: 0;
		font: 17px Roboto, Helvetica, Arial, sans-serif;
		color: #777777;
		padding: 6px 25px 6px 50px;
		-webkit-transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-o-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;
		width: 77%;
		height: 50px;
		outline: none;
		float: left;
	}

	#search input[type="submit"], #search button.loading{
		background: #009474;
		color: #fff;
		border: 1px solid #009474;
		border-right: 1px solid #006b54;
		text-shadow: none;
		font: 17px Roboto, Helvetica, Arial, sans-serif;
		width: auto;
		height: 51px;
		float: right;
		padding: 0px 20px;
	}

     #search button .loader{
        background: url(../img/ajax-loader.gif) no-repeat;
        background-size: 50px 50px;
        height: 44px;
        width: 54px;
        display: inline-block;
        background-position: 50% 15%;
    }

	#search input[type="submit"]:hover {
		background: #006b54;
		border: 1px solid #006b54;
	}
    .start{
		background: url(../img/microphone.png) no-repeat 5px #009474;
		background-size: 22px 22px;
		border: 1px solid #009474;
		width: 35px;
		height: 51px;
		padding-bottom: 18px;
		float: right;
    }
    .start:hover  /* use Dot here */
    {   
		background-color: #006b54;
		border: 1px solid #006b54;
    }
}


.end{
    background:url(../img/end.png) no-repeat 5px #009474 ;   
    background-size: 22px 22px;
    border: 1px solid #009474;
    width: 35px;
    height: 51px;
    padding-bottom: 18px;  
	float: right;
}

.end:hover  /* use Dot here */
{   
    background-color: #006b54;
	border: 1px solid #006b54;
}

.stop {
    background-color: #009474;
    border: 1px solid #009474;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #009474;
    width: 75px;
    height: 75px;

}

.stop:hover{
    background-color:  #016ABC;
    border: 1px solid rgb(121, 173, 222);
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgb(121, 173, 222);
    width: 75px;
    height: 75px;

}

.submit{
    display: none;
}


/*=====================================
  CONTACT STYLES 
   ===================================*/
.contact {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height:35px;
    background-color:rgb(246, 246, 246);
}

.contact .overlay{
    min-height:300px;
}

/* start service */
#service{
    margin-top: 20px;
    padding-top: 80px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #343a40
}

/* end service */

/*start list*/
#service .list {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 30px;
}
#service .list-item {
    width:auto;
    padding: 0.5em;
    border:1px solid rgb(227, 227, 227);
    padding-bottom: 60px;
    position: relative;
}

#service .list-item img{
    float:right;
    width: 40%;
    font-size: 0.8em;
    padding: 1em 2em;
    margin: 1em 0 0.5em 0.5em;
    max-height: 300px;
    max-width:240px;
}

@media all and (min-width: 40em) {
    .list-item {
        width: 50%;
    }
}
@media all and (min-width: 60em) {
    .list-item {
        width: 33.33%;
    }
}

/*the list content*/
#service .list-content {
    background-color: #fff;
    padding: 1em;
    width: 100%;
    padding-top: 10px;
    max-height: 300px;
    overflow:hidden;

}

#service .list-content p {
    flex: 1 0 auto;
    font-size:16px;

}

/*expand the list content*/
#service .list-content.expanded {
    background-color: #fff;
    padding: 1em;
    width: 100%;
    padding-top: 10px;
    max-height: inherit;   
}

#service .list-content.expanded p {
    flex: 1 0 auto;
    font-size:16px;
}

#service .list-item a{
    cursor: pointer;
}
#service .list-item a.expand-list-content,
#service .list-item a.collapse-list-content{
    position: absolute;
    bottom: 25px;
    right: 25px;
} 
#service .list-item a.collapse-list-content{
    display: none;
}
/*end list*/


 @media only screen and (max-width: 769px) {

    .contact img{
        display:block;
        margin-left:auto;
        margin-right: auto;
        
    }

    div.col-lg-4 .col-md-4 .col-sm-4{
        padding-bottom: 30px
    }
}

a.blob {
	margin-right: 7px;
	border: 1px solid #009474;
    padding: 3px 10px;
    border-radius: 3px;
	color: #009474;
	display: inline-block;
	margin-bottom: 3px;
}
a.blob.orange{
    border-color: #f47c35;
    color: #f47c35;
}
a.blob.blue{
    border-color: #23a6de;
    color: #23a6de;
}
a.blob:hover {
    background-color: #009474;
	color: #fff;
}
a.blob.orange:hover{
	background-color: #f47c35
}
a.blob.blue:hover{
	background-color: #23a6de
}
a.blob i.mark{
    padding: 6px;
    position: relative;
    left: -10px;
    background-color: #009474;
    color: #fff;
    text-decoration: none !important;
}
a.blob.orange i.mark{
    background-color: #f47c35;
    color: #fff;
}
a.blob.blue i.mark{
    background-color: #23a6de;
    color: #fff;
}
a.blob:hover i.mark, a.blob i.mark:hover{
    opacity: 0.6;
}

.contact-info{
	position: relative;
	top: 60px;
}
.collaborator-logo {
	width: 30px;
	cursor: pointer !important;
}
.collaborators{
	display: inline-block;
	float: left;
}
.social-media{
	display: inline-block;
	float: right;
}
.footer-content{
	margin: auto;
}

@media screen and (max-width:665px){
	#search input[type="text"]{
		width: 60%;
	}
}


.resource-sec{
	min-height: calc(100vh - 75px);
}

.answer{
    position: relative;
    margin-bottom: 30px;
}
.feedback{
    position: absolute;
    top: 0px;
    right: 0px;
}
.feedback a{
    cursor: pointer;
}
.feedback a:hover{
    text-decoration: none;
    color: #aaa;
}
.feedback a:active,
.feedback a.active{
    text-decoration: none;
    color: #fcd028;
}
.feedback input[type="radio"]{
    display: none;
}
.list-content .feedback{
    top: 35px;
    right: 10px;
}

.padding-top-100{
    padding-top: 100px;
}