
/*=====================================
  NAVBAR STYLES 
    ===================================*/


#menu {
    /*background-color:rgba(130, 186, 130, 0.90);*/
    background-color: #009474;
   
}

/*=====================================
  HEADERS STYLES 
    ===================================*/


.header-sec .overlay{
    /*background:rgba(85, 155, 107, 0.90);*/
    background: #FFF;
}

  /*=====================================
  TESTIMONIALS STYLES 
    ===================================*/

.contact{
    background-color: rgb(246, 246, 246);
}

