
/*=====================================
  NAVBAR STYLES
    ===================================*/


#menu {
    background-color:rgba(200, 182, 178, 0.90);

}

/*=====================================
  HEADERS STYLES
    ===================================*/


.header-sec .overlay{
    background:rgba(211, 194, 187, 0.9);
}

/*=====================================
TESTIMONIALS STYLES
  ===================================*/

.contact{
    background-color: rgb(246, 246, 246);
}

