
/*=====================================
  NAVBAR STYLES 
    ===================================*/


#menu {
    background-color:rgba(77, 181, 180, 0.9);
   
}

/*=====================================
  HEADERS STYLES 
    ===================================*/


.header-sec .overlay{
    background:#44A1A0;
}



/*=====================================
  FOOTER STYLES 
    ===================================*/

.contact{
    background-color: rgb(246, 246, 246);
}

