<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>List</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/styleSwitcher.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/asknow.css') }}">
    <link rel="stylesheet" type="text/css"  id='mainCSS'href="{{ url_for('static', filename='css/green.css') }}">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
</head>
</head>
<body >


<div class="switcher" style="left:-50px;">
    <a id="switch-panel" class="hide-panel">
        <i class="fa fa-recycle"></i>
    </a>
    <p style="font-size:10px">choose</p>
    <ul class="colors-list">
        <li><a title="Green" id="green" class="green" ></a></li>
        <li><a title="Blue" id="blue" class="blue" ></a></li>
    </ul>
</div>
<!--END STYLE SWITCHER-->



<div class="navbar navbar-inverse navbar-fixed-top move-me" id="menu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo-custom" src="static/img/sda.png" alt=""  /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="/">BACK</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</div>


<!--NAVBAR SECTION END-->
<section class="list-sec" >
    <div class="container">

        <div id="service" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-1">
            <h2 class="showQuestion">          
            </h2>
            <br/>
            <hr>
            <div class="list"> 
            <span id='loader'></span>
            </div>
            <br/>
            <div class="row text-center">
                <a id="load" style="color:#777777;">Loading more...</a>
            </div>
        </div>
    </div>
</section>


<section class="contact" id="contact" >
    <div class="'overlay">
        <div class="container">
                <div class="row text-center " >
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-1">
                        <h3 data-scroll-reveal="enter from the bottom after 0.1s">
                            <strong>
                                Stay Connected
                            </strong>
                        </h3>
                    </div>

                </div>

                <div id='container' class="row">
                    <div id='left' class="col-lg-6  col-md-6 col-sm-6 " data-scroll-reveal="enter from the right after 0.2s">
                        <h4>Developed by</h4>
                        <hr>
                        <div class="row" >
                            <div class="col-lg-4 col-md-4 col-sm-4" style='padding-bottom: 30px' data-scroll-reveal="enter from the left after 0.2s" >
                                <img src="static/img/uni_Logo.png" class="img-responsive" alt=""  />
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4" style='padding-bottom: 30px' data-scroll-reveal="enter from the bottom after 0.2s" >
                                <img src="static/img/sda.png" class="img-responsive" alt=""  />
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4" style='padding-bottom: 30px' data-scroll-reveal="enter from the right after 0.2s" >
                                <img src="static/img/fraunhofer.png" class="img-responsive" alt=""  />
                            </div>
                        </div>
                    </div>

                    <div id='right' class="col-lg-6  col-md-6 col-sm-6 text-right " data-scroll-reveal="enter from the left after 0.4s">

                            <ul class="list-inline ">
                                <li class="list-inline-item">
                                    <a href="#">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                    </a>
                                </li>
                            </ul>

                            <strong>Contact us</strong>

                            <h5>
                                <a href="mailto:info@domain.com?Subject=Here%20is%20the%20subject" class="home-mail" target="_top">e-mail: info@domain.com</a>
                            </h5>
                        </div>
                    
                </div>
            <br/>
                <p class="copyright">Copyright &copy; AskNow 2017</p>
            </div>
    </div>
</section>
<!--CONTACT SECTION END-->

<!--  Jquery Core Script -->
<script src={{ url_for('static', filename='js/jquery-1.10.2.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap.js') }}></script>
<script src={{ url_for('static', filename='js/jquery.easing.min.js') }}></script>
<script src={{ url_for('static', filename='js/styleSwitcher.js') }}></script>
<script src={{ url_for('static', filename='js/scrollReveal.js') }}></script>
<script src={{ url_for('static', filename='js/asknow.js') }}></script>
<script src={{ url_for('static', filename='js/imgSearch.js') }}></script>
<script src={{ url_for('static', filename='js/videoSearch.js') }}></script>
<script src={{ url_for('static', filename='js/list.js') }}></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>
