<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>AskNow</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/styleSwitcher.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/asknow.css') }}">
    <link rel="stylesheet" type="text/css"  id='mainCSS'href="{{ url_for('static', filename='css/green.css') }}">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
</head>
</head>
<body >


<!-- <div class="switcher" style="left:-50px;"> -->
    <!-- <a id="switch-panel" class="hide-panel"> -->
        <!-- <i class="fa fa-recycle"></i> -->
    <!-- </a> -->
    <!-- <p style="font-size:10px">choose</p> -->
    <!-- <ul class="colors-list"> -->
        <!-- <li><a title="Green" id="green" class="green" ></a></li> -->
        <!-- <li><a title="Blue" id="blue" class="blue" ></a></li> -->
    <!-- </ul> -->
<!-- </div> -->
<!--END STYLE SWITCHER-->



<div class="navbar navbar-fixed-top move-me" id="menu">
    <div class="container">
        <!--<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class='logo-asknow' src="static/img/AskNow_logo.png" alt="" style="width:130px; height:30px;" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="/">BACK</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>-->
		<div class="">
            <a class="navbar-brand" href="/">
				<img class='logo-asknow-small' src="static/img/AskNow_logo.png" alt="" />
			</a>
			<div id="search">
				<input id="question" name="question" type="text" placeholder="Search the knowledge graph......" />
				<button id='start' class ='start' value="true"></button>
				<input type="submit" id='submit' value='Search'/>
			</div>
		</div>
    </div>
</div>


<!--NAVBAR SECTION END-->
<section class="list-sec" >
    <div class="container">

        <div id="service" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-1">
            <div>
                <div id="entities_relations" class="fit width-75p"></div>
                <div id="feedback" class="fit feedback">
                    <span>Was this helpful?</span>
                    <span>
                        <a data-value="1">
                            <span class="fa-stack">
                                <i class="fa fa-thumbs-up fa-stack-1x"></i>
                            </span>
                        </a>
                        <a data-value="0">
                            <span class="fa-stack">
                                <i class="fa fa-thumbs-down fa-stack-1x"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="list"> 
            <span id='loader'></span>
            </div>
            <br/>
            <div class="row text-center">
                <a id="load" style="color:#777777;">Loading more...</a>
            </div>
        </div>
    </div>
</section>


<section class="contact" id="contact" >
    <div class="'overlay">
        <div class="container row footer-content">
			<div class="col-lg-4  col-md-4 col-sm-4 ">
				<ul class="list-inline collaborators">
					<li class="list-inline-item">
						<a target="blank" title="Universität Bonn" href="https://www.uni-bonn.de/"><img src="static/img/unibonn.jfif" class="collaborator-logo" alt=""  /></a>
					</li>
					<li class="list-inline-item">
						<a target="blank" title="Smart Data Analytics" href="http://sda.cs.uni-bonn.de/"><img src="static/img/sdasq.png.PNG" class="collaborator-logo" alt=""  /></a>
					</li>
					<li class="list-inline-item">
						<a target="blank" title="Fraunhofer" href="https://www.iais.fraunhofer.de/"><img src="static/img/Fraunhofer-ITEM-Logo.jpg" class="collaborator-logo" alt=""  /></a>
					</li>
					<li class="list-inline-item">
						<a target="blank" title="DBPedia" href="https://wiki.dbpedia.org/"><img src="static/img/dbpedialogo.png" class="collaborator-logo" alt=""  /></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4  col-md-4 col-sm-4 ">
				<p class="copyright">Copyright &copy; AskNow 2018</p>
			</div>
			<div class="col-lg-4  col-md-4 col-sm-4 ">
				<ul class="list-inline social-media">
					<li class="list-inline-item">
						<a target="blank" href="https://twitter.com/AskNowQA">
							<span class="fa-stack fa-sm">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a target="blank" href="http://asknow.sda.tech/">
							<span class="fa-stack fa-sm">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a target="blank" href="https://github.com/AskNowQA">
							<span class="fa-stack fa-sm">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-github fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a target="blank" href="mailto:asknow@googlegroups.com?Subject=Here%20is%20the%20subject" >
							<span class="fa-stack fa-sm">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
			
    </div>
</section>
<!--CONTACT SECTION END-->

<!--  Jquery Core Script -->
<script src={{ url_for('static', filename='js/jquery-1.10.2.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap.js') }}></script>
<script src={{ url_for('static', filename='js/jquery.easing.min.js') }}></script>
<script src={{ url_for('static', filename='js/styleSwitcher.js') }}></script>
<script src={{ url_for('static', filename='js/scrollReveal.js') }}></script>
<script src={{ url_for('static', filename='js/asknow.js') }}></script>
<script src={{ url_for('static', filename='js/imgSearch.js') }}></script>
<script src={{ url_for('static', filename='js/videoSearch.js') }}></script>
<script src={{ url_for('static', filename='js/list.js') }}></script>
<script src={{ url_for('static', filename='js/controller.js') }}></script>
<script src={{ url_for('static', filename='js/speechRecognition.js') }}></script>
<script src={{ url_for('static', filename='js/index.js') }}></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>
